{% load static %}
{% load i18n%}
{% load bootstrap4 %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    {% bootstrap_javascript %}
    {{form.media}}
</head>
<body>
{% block bootstrap4_content %}
<div class="loginform">
  <h1>{% trans "Login" %}</h1>
  <div>
    <form action="" method="post">
{% csrf_token %}
{% bootstrap_form form %}
{% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
</body>
</html>
