{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Class requirements list" %}{% endblock %}
{% block body %}

<h1>{% trans "Class requirements" %}</h1>
<div>
{% for activity in object_list %}
  <div class="mainlistitem">
    <h2>{{activity.subject.name}} - {{activity.get_lecture_type_display}}</h2>
    <div>
      <h3>{% trans "requirements" %}</h3>
      <ul>
  {% for requirement in activity.requirements.all %}
        <li>{{requirement}} <a class="btn" href="{% url "resource_comment" resource_pk=requirement.pk %}">{% trans "Comment" %}</a></li>
  {% endfor%}
      </ul>
    </div>
    <a class="change_requirements_link btn btn-primary active" href="{% url "activity_requirements" pk=activity.pk %}">{% trans "Change requirements" %}</a>
  </div>
{% endfor %}
</div>
{% endblock %}
