{% extends "base.html" %}
{% block title %}Izbira predmeta{% endblock %}
{% block body %}


<script type="text/javascript">
        function tableHide(tableid){ document.getElementById(tableid).display = "none";}
        function tableShow(tableid){ document.getElementById(tableid).display = "block";}
</script>


<link href="{{STATIC_URL}}css/cycles_overview.css" type="text/css" media="all" rel="stylesheet" />

<h1>Podatki o predmetih</h1>
<div>
{% for activity in object_list %}
<div>
  <h2>{{activity.subject.name}} - {{activity.get_lecture_type_display}}</h2>
  {{activity.subject.name}}
</div>
{% endfor %}
</div>
{% endblock %}
