{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Requirements" %}{% endblock %}
{% block body %}

<h1>{% trans "Possible requirements" %}</h1>
<div>
{% for resource in object_list %}
<div>
  <h2>{{resource.name}}</h2>
  <div>
  {% if not resource.classroom_set.count %}
  <h3>{% trans "Not available in any classroom" %}</h3>
  {% else %}
  <h3>{% trans "Available in" %}</h3>
  <ul>  
    {% for classroom in resource.classroom_set.all %}
    <li><a href="{% url "classroom_detail" pk=classroom.pk %}">{{classroom}}</a></li>
    {% endfor%}
  </ul>
  {% endif %}
  </div>
  <div>
  <h3>{% trans "Required for" %}</h3>
  <ul>
  {% for activity in resource.activity_set.all %}
    <li>{{activity}}</li>
  {% endfor%}
  </ul>
  </div>

</div>
{% endfor %}
</div>
{% endblock %}
