{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Requirements" %}{% endblock %}
{% block body %}

<h1>{% trans "Possible requirements" %}</h1>
<div>
{% for resource in object_list %}
<div>
  <h2><a href="{% url "resource_detail" pk=resource.pk %}">{{resource.name}}</a></h2>
  <div>
  <h3>{% trans "Required for" %}</h3>
  <ul>
  {% for activity in resource.activity_set.all %}
    <li>{{activity}}</li>
  {% endfor%}
  </ul>
  </div>

</div>
{% endfor %}
</div>
{% endblock %}
