{% load i18n %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
    <a class="navbar-brand" href="https://fri.uni-lj.si">UL FRI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="menu navbar-nav mr-auto">
{% if request.user.is_authenticated %}
        <li class="leaf navbar-nav mr-auto"><a href="{% url "activity_list" %}" class="nav-link">{% trans "Classes" %}</a></li>
        <li class="leaf navbar-nav mr-auto"><a href="{% url "resource_list" %}" class="nav-link">{% trans "Requirements" %}</a></li>
  {% if request.user.is_superuser %}
        <li class="leaf navbar-nav mr-auto"><a href="{% url "resource_admin_overview" %}" class="nav-link">{% trans "Req. table" %}</a></li>
        <li class="leaf navbar-nav mr-auto"><a href="{% url "admin:index" %}" class="nav-link">Admin</a></li>
        <li class="leaf navbar-nav mr-auto"><a href="{% url "subject_list" %}" class="nav-link">{% trans "Subjects" %}</a></li>
  {% endif %}
        <li class="leaf navbar-nav mr-auto"><a href="{% url "logout" %}" class="nav-link">{% trans "Logout" %}</a></li>
{% else %}
        <li class="leaf navbar-nav mr-auto"><a href="{% url "login" %}">{% trans "Login" %}</a></li>
{% endif %}
      </ul>
    </div>
  </nav>
